<div class="forecast-container">
  <div class="search flex">
    <input
      type="text"
      class="search-bar"
      id="searchBar"
      [(ngModel)]="cityName"
    />
    <button id="searchBtn" (click)="search()">🔍</button>
    
  </div>
  <h2 class="heading">5-Day Weather Forecast for {{ cityName }}</h2>
  <div class="flex forecast-card" *ngFor="let forecast of forecastData">
    <div class="forecast-date">{{ forecast.dt_txt | date : "fullDate" }}</div>
    <div class="forecast-time">{{ forecast.dt_txt | date : "shortTime" }}</div>
    <div class="forecast-details">
      <img
        src="https://openweathermap.org/img/wn/{{
          forecast.weather[0].icon
        }}.png"
        alt="Weather icon"
      />
      <div class="forecast-temp">{{ forecast.main.temp.toFixed(1) }}°C</div>
      <div class="forecast-description">
        {{ forecast.weather[0].description }}
      </div>
      <div class="forecast-wind">Wind: {{ forecast.wind.speed }} km/h</div>
      <div class="forecast-humidity">
        Humidity: {{ forecast.main.humidity }}%
      </div>
      <div *ngIf="forecast.rain">Rain: {{ forecast.rain["3h"] }} mm</div>
    </div>
  </div>
</div>
