.card {
  background: #000000c5;
  color: white;
  padding: 2rem;
  border-radius: 2rem;
  width: 90%;
  max-width: 500px;

  .town {
    justify-content: space-between;
    align-items: baseline;
    margin: 1rem 0;
  }

  .city {
    font-size: 1.5rem;
  }

  p:not(:last-child) {
    margin-bottom: 0.5rem;
    text-transform: capitalize;
  }
}
